body {
    direction: rtl;
    text-align: right;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Cairo", sans-serif;
}

p {
    margin: 0;
}

ul {
    list-style: none;
}

ol,
ul,
h1,
h2,
h3,
h5,
h4,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

.container {
    max-width: 1560px;
    width: 86%;
}

body {
    width: 100%;
    height: 100vh;
}

.testplugin {
    width: 100%;
    height: 100%;
}

nav {
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-lang>ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.container-lang>ul>li {
    margin-right: 15px;
    cursor: pointer;
}

.container-center {
    height: 100%;
    display: flex;
}

.container-center ul {
    height: 100%;
    display: flex;
    align-items: center;
}

.container-center>ul li {
    margin: 0 10px;
    cursor: pointer;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.container-center ul li .drop-menu {
    top: 100%;
    position: absolute;
    width: 220px;
    min-height: 210px;
    right: -100%;
    /* transform: translateX(-50%); */
    z-index: 15;
    opacity: 1;
    padding: 10px;
    transition: all .5s;
    visibility: visible;
    display: block;
}


/* .container-center ul li:hover .drop-menu{
  display: block;
  visibility:visible;
  opacity: 1;
  top: 100%;
} */

.container-center ul li span svg {
    width: 20px;
    height: 20px;
    /* fill: #fff; */
}

nav .container-center .penta-head-tab,
nav .container-center .penta-box,
nav .container-center .penta-textbox,
nav .container-center .penta-textbox,
nav .container-center .penta-line,
nav .container-center .penta-button,
nav .container-center .penta-input-icon,
nav .container-center .penta-key-value,
nav .container-center .penta-drop-select,
nav .container-center .penta-form-item,
nav .container-center .penta-gallery,
nav .container-center .dropdown,
nav .container-center .penta-main-button,
nav .container-center .penta-checkbox {
    display: none;
}

nav .container-center .penta-toolbar li p {
    display: none;
}

.drop-menu .penta-head-tab,
.drop-menu .penta-box,
.drop-menu .penta-textbox,
.drop-menu .penta-textbox,
.drop-menu .penta-line,
.drop-menu .penta-button,
.drop-menu .penta-input-icon,
.drop-menu .penta-key-value,
.drop-menu .penta-drop-select,
.drop-menu .penta-form-item,
.drop-menu .penta-gallery,
.drop-menu .dropdown,
.drop-menu .penta-main-button,
.drop-menu .penta-checkbox {
    display: none;
}

.drop-menu .penta-toolbar {
    flex-direction: column;
}

nav .container-center .drop-menu .penta-toolbar li {
    display: flex;
    align-items: center;
    width: 100%;
    /* border-bottom: 1px solid; */
    padding-bottom: 2px;
}

nav .container-center .drop-menu .penta-toolbar li:last-child {
    border: 0;
    padding-bottom: 0;
}

nav .container-center .drop-menu .penta-toolbar li p {
    display: block;
    background: transparent;
    position: static;
    font-size: 14px;
    transform: translate(0);
    padding: 4px 6px;
}

nav .container-center .drop-menu .penta-toolbar li p::before {
    display: none;
}

.active-link {
    position: relative;
}

.active-link::after {
    content: " ";
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: 0;
}

.test-plugin {
    width: 100%;
    height: 100%;
}

.user {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
}

.c1 {
    height: calc(100vh - 50px);
}

.c2 {
    position: absolute;
    top: 100px;
    left: 15px;
    width: 40px;
    min-height: 30%;
    padding: 5px;
}

.c2 .penta-head-tab,
.c2 .penta-box,
.c2 .penta-textbox,
.c2 .penta-textbox,
.c2 .penta-line,
.c2 .penta-button,
.c2 .penta-input-icon,
.c2 .penta-key-value,
.c2 .penta-drop-select,
.c2 .penta-form-item,
.c2 .penta-gallery,
.c2 .dropdown,
.c2 .penta-main-button,
.c2 .penta-checkbox {
    display: none;
}

.c3 {
    position: absolute;
    bottom: 0;
    left: 30px;
    min-width: 150px;
}

.c4 {
    position: absolute;
    bottom: 0;
    left: 200px;
    min-width: 250px;
}

.c2 .penta-toolbar li p {
    width: 110px;
    right: -120px;
    font-size: 14px;
}

.c3 .penta-head-tab,
.c3 .penta-box,
.c3 .penta-textbox,
.c3 .penta-textbox,
.c3 .penta-line,
.c3 .penta-button,
.c3 .penta-input-icon,
.c3 .penta-key-value,
.c3 .penta-drop-select,
.c3 .penta-form-item,
.c3 .penta-gallery,
.c3 .dropdown,
.c3 .penta-main-button,
.c3 .penta-checkbox {
    display: none;
}

.c3 .penta-toolbar {
    display: flex;
    align-items: center;
}

.c3 .penta-toolbar li {
    margin: 7px 5px;
    padding: 4px 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c3 .penta-toolbar li p {
    display: none;
}

.c3 .penta-toolbar li span svg {
    width: 20px;
    height: 20px;
}

.c3 .penta-head-tab,
.c3 .penta-box,
.c3 .penta-textbox,
.c3 .penta-textbox,
.c3 .penta-line,
.c3 .penta-button,
.c3 .penta-input-icon,
.c3 .penta-key-value,
.c3 .penta-drop-select,
.c3 .penta-form-item,
.c3 .penta-gallery,
.c3 .dropdown,
.c3 .penta-main-button,
.c3 .penta-checkbox {
    display: none;
}

.c4 .penta-head-tab,
.c4 .penta-box,
.c4 .penta-textbox,
.c4 .penta-textbox,
.c4 .penta-line,
.c4 .penta-button,
.c4 .penta-input-icon,
.c4 .penta-toolbar,
.c4 .penta-drop-select,
.c4 .penta-form-item,
.c4 .penta-gallery,
.c4 .dropdown,
.c4 .penta-main-button,
.c4 .penta-checkbox {
    display: none;
}

.head-c {
    height: 35px;
    background: #ffffff3b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.head-c .title-head {
    display: flex;
    align-items: center;
}

.head-c>span:nth-child(2) {
    width: 20px;
    height: 20px;
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.c5 {
    transition: all .1s;
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 440px;
    height: calc(100vh - 100px);
    z-index: 4;
}

.c5 .penta-toolbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 200px;
    margin: 20px auto;
}

.c5 .penta-toolbar li {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    margin: 4px;
    padding: 5px;
}

.c5 .penta-toolbar li p {
    display: block;
    color: #fff;
    position: static;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    background: transparent;
}

.c5 .penta-toolbar li p::before {
    display: none;
}

.c5 .body-c {
    height: calc(100% - 35px);
    overflow-y: auto;
    padding: 10px;
}

.c5 {}

.c5 .penta-key-value .penta-item {
    align-items: center;
}

.c5 .penta-key-value .penta-item span:nth-child(1) {
    width: 90px;
}

.c5 .penta-key-value .penta-item span:nth-child(2) {
    flex-grow: 1;
    margin-right: 10px;
    padding: 3px 5px;
}

.c6 {
    position: absolute;
    top: 51px;
    left: 30%;
    width: 250px;
    min-height: 220px;
}

.c7 {
    position: absolute;
    bottom: 25px;
    right: 30px;
    min-width: 250px;
    min-height: 20px;
    z-index: 4;
}

.c7 .head-c {
    min-height: 50px;
}

.widget {
    width: 320px;
    height: 230px;
    overflow-y: auto;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
}

.widget .body-c {
    padding: 10px;
    height: calc(100% - 35px);
    overflow-y: auto;
}

.widget .penta-gallery,
.widget .penta-head-tab {
    display: none;
}

.widget .penta-toolbar {
    display: flex;
    align-items: center;
}

.widget .penta-toolbar li {
    margin: 10px;
}

.widget .penta-toolbar li p {
    display: none
}

.widget .penta-key-value .penta-item span:nth-child(1) {
    width: 90px;
}

.widget .penta-key-value .penta-item span:nth-child(2) {
    flex-grow: 1;
    margin-right: 10px;
    padding: 3px 5px;
}

.popup-layout .body-c {
    padding: 10px;
}

.popup-layout .penta-key-value .penta-item span:nth-child(1) {
    width: 90px;
}

.popup-layout .penta-key-value .penta-item span:nth-child(2),
.popup-c .head-c .penta-key-value .penta-item span:nth-child(2) {
    flex-grow: 1;
    margin-right: 10px;
    padding: 3px 5px;
}

.c3 .penta-head-tab,
.c3 .penta-box,
.c3 .penta-textbox,
.c3 .penta-textbox,
.c3 .penta-line,
.c3 .penta-button,
.c3 .penta-input-icon,
.c3 .penta-key-value,
.c3 .penta-drop-select,
.c3 .penta-form-item,
.c3 .penta-gallery,
.c3 .dropdown,
.c3 .penta-main-button,
.c3 .penta-checkbox {
    display: none;
}

.popup-layout {
    width: 100%;
    height: 100%;
    z-index: 17;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-c {
    width: 400px;
    height: 300px;
    border-radius: 5px;
}

.popup-c .head-c {
    border-radius: 5px 5px 0 0;
}

.popup-c .penta-toolbar,
.popup-c .penta-gallery,
.popup-c .penta-head-tab {
    display: none;
}

.popup-layout .body-c {
    padding: 10px;
    height: calc(100% - 35px);
    overflow-y: auto;
}

.contant-load {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

button {
    cursor: pointer;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        -webkit-box-shadow: 0 2.5em 0 -1.3em;
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        -webkit-box-shadow: 0 2.5em 0 0;
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        -webkit-box-shadow: 0 2.5em 0 -1.3em;
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        -webkit-box-shadow: 0 2.5em 0 0;
        box-shadow: 0 2.5em 0 0;
    }
}


/*# sourceMappingURL=style.css.map */


/* width */

::-webkit-scrollbar {
    width: 10px;
    height: 7px;
}

.z-indextop {
    z-index: 55;
}

.z-indextop .popup-c {
    width: 370px;
    height: 180px;
}

.container-lang>ul>li {}

.container-lang {}

.container-lang {}

.user {
    cursor: pointer;
}

.user-relt {
    position: relative;
}

.user-prof {
    width: 175px;
    left: -20px;
    top: 50px;
    height: 300px;
    position: absolute;
    background: #7b7171;
    background: var(--main-bgh-color);
    border-radius: 10px;
    z-index: 10;
}

.user-prof::before {
    content: "";
    width: 15px;
    height: 15px;
    background: #7b7171;
    background: var(--main-bgh-color);
    display: block;
    position: absolute;
    top: -7px;
    left: 25px;
    transform: rotate(45deg);
    z-index: 9;
}

.user-image {
    width: 60px;
    height: 60px;
    display: block;
    margin: 10px auto;
    border-radius: 50%;
    overflow: hidden;
    background: #000;
}

.user-image img {
    width: 100%;
    height: 100%;
}

.text-mail {
    text-align: center;
}

.text-mail h5 {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
}

.text-mail span {
    font-size: .8rem;
    color: var(--scroll-bg-color);
    margin-bottom: 6px;
    display: block;
}

.list-profile {}

.list-profile ul {
    display: flex;
    flex-direction: column;
    padding: 8px 10px;
    border-top: 1px solid var(--scroll-bg-color);
    border-bottom: 1px solid var(--scroll-bg-color);
}


/* color: var(--scroll-bg-color); */

.list-profile>ul>li {
    color: #fff;
    font-size: .8rem;
    margin-bottom: 7px;
    color: var(--scroll-bg-color);
}

.user-button {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.user-button button {
    background: var(--main-color);
    border: 0;
    color: var(--main-txt-color);
    font-size: .8rem;
    padding: 5px 10px;
    border-radius: 15px;
    outline: 0;
}

.language {
    position: relative;
}

.language-body {
    width: 80px;
    left: -20px;
    top: 50px;
    min-height: 100px;
    position: absolute;
    background: var(--main-bgh-color);
    border-radius: 10px;
    z-index: 11;
    padding: 10px;
}

.language-body::before {
    content: "";
    width: 15px;
    height: 15px;
    background: var(--main-bgh-color);
    display: block;
    position: absolute;
    top: -7px;
    left: 25px;
    transform: rotate(45deg);
}

.language-body>ul>li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.language-body>ul>li span {
    padding: 0 4px;
    font-size: .8rem;
    width: 60px;
    display: flex;
}

.language-body>ul>li img {
    width: 20px;
}

.user-info {
    width: 550px;
    height: 275px;
}

.profile-inform {}

.profile-inform .p-f-img {
    width: 140px;
    height: 90px;
    background: #fff;
    margin-bottom: 15px;
}

.profile-inform .p-f-img img {
    width: 100%;
    height: 100%;
}

.item-show {
    padding: 10px;
    background: var(--main-bgh-color);
    margin-bottom: 10px;
}

.item-show span {
    font-size: .9rem;
    color: var(--scroll-bg-color);
}

.profile-inform {}

.set-m {
    margin: 0;
}

::-webkit-input-placeholder {
    /* Edge */
    color: var(--scroll-bg-color);
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--scroll-bg-color);
}

::placeholder {
    color: var(--scroll-bg-color);
    font-size: .9rem;
    padding: 0 10px;
}

.contant-pass {
    height: 230px;
}

.contant-pass .body-c {
    height: auto;
}

.c-select {
    height: 200px;
}

.c-select .body-c {
    height: auto;
}

.c-select .penta-drop-select {
    margin-bottom: 70px;
}

.contant-login {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.login-input {
    width: 40%;
    height: 100%;
    background: var(--main-bg-color);
    padding: 50px 30px;
    flex-wrap: wrap;
    align-content: space-between;
    display: flex;
}

.logo-penta {
    margin-bottom: 30px;
}

.logo-penta img {
    width: 100px;
}

.logo-title {
    border-bottom: 1px solid #ffffff30;
    padding: 15px 0;
    margin-bottom: 30px;
}

.logo-title h3 {
    color: #fff;
    font-size: 1.2rem;
}

.form-login {
    display: flex;
    align-items: center;
    height: 60px;
    background: var(--main-bgh-color);
    margin-bottom: 30px;
}

.log-top {
    width: 100%;
}

.form-login span {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-login span svg {
    width: 20px;
    height: 20px;
    fill: var(--scroll-bg-color);
}

.form-login input {
    flex-grow: 1;
    height: 100%;
    color: var(--scroll-bg-color);
    background: transparent;
    border: 0;
    outline: 0;
}

.form-login select {
    flex-grow: 1;
    height: 100%;
    color: var(--scroll-bg-color);
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: var(--main-bgh-color);
}

.form-login select option {
    background: var(--scroll-bgh-color);
}

.log-button {
    width: 100%;
}

.log-button button {
    width: 100%;
    padding: 12px;
    color: #fff;
    background: var( --main-color);
    border: 0;
}

.drop-lan {
    cursor: pointer;
}

.drop-lan .dropdown-menu {
    width: 100%;
    cursor: pointer;
}

.drop-lan .dropdown-toggle::after {
    position: absolute;
    left: 1px;
    color: var(--scroll-bg-color);
}

.drop-lan .dropdown-menu {
    padding: 10px;
    background: var(--main-bgh-color);
}

.drop-lan .dropdown-menu ul {}

.drop-lan .dropdown-menu ul li {
    display: flex;
    /* text-align: right !important; */
    margin-bottom: 10px;
}

.drop-lan .dropdown-menu ul li:last-child {
    margin-bottom: 0;
}

.drop-lan .dropdown-menu ul li img {}

.drop-lan .dropdown-menu ul li span {
    margin: 0 10px;
    font-size: .9rem;
    color: var(--scroll-bg-color);
}

.form-login p {
    color: var(--scroll-bg-color);
}

.login-back {
    width: 60%;
    height: 100%;
    background: url(../img/back.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.contant-login .penta-validation-danger,
.contant-login .penta-validation-info,
.contant-login .penta-validation-alert,
.contant-login .penta-validation-success {
    position: relative;
    top: -30px;
}