.value-show {
    display: flex;
    align-items: center;
}

.value-show li {
    margin: 7px 5px;
    padding: 4px 25px;
    border-radius: 0px;
    font-size: .8rem;
    height: 30px;
}

.value-show li span {
    color: #fff;
}


/* start  heading */

.penta-h1 {
    font-size: 18px;
}

.penta-h2 {
    font-size: 16px;
}

.penta-h3 {
    font-size: 14px;
}


/* end  heading */


/* start penta slider */

.slidecontainer {
    margin-bottom: 10px;
}

.penta-slider-r {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    outline: none;
    opacity: 1;
}

.penta-slider-r:hover {
    opacity: 1;
}

.penta-slider-r::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.penta-slider-r::-moz-range-thumb {
    width: 13px;
    height: 13px;
    cursor: pointer;
}


/* end slider */


/* start gallery */

.penta-gallery {
    display: flex;
    align-items: center;
    /* grid-gap: 5px; */
    margin: 10px 0;
    width: 100%;
    overflow-y: auto;
    padding-bottom: 5px;
}

.penta-gallery img {
    width: 110px;
    margin: 0 5px;
}


/* end galeery */


/* penta container flex */

.penta-container-row {
    display: flex;
    margin-bottom: 10px;
}

.penta-container-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.penta-container-center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}


/* penta container flex */


/* start penta form */

.penta-form-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.penta-form-item label {
    width: 90px;
    font-size: 14px;
}

.label {}

.penta-form-item input,
.penta-form-item select {
    flex-grow: 1;
    margin-right: 10px;
    padding: 3px 5px;
    border: 0;
    height: 35px;
}

.penta-form-item input[type="checkbox"],
.penta-form-item input[type="radio"] {
    flex-grow: 0;
    height: auto;
    zoom: 1.2;
    cursor: pointer;
}

.penta-form-item textarea {
    flex-grow: 1;
    margin-right: 10px;
    padding: 3px 5px;
    border: 0;
    height: 64px;
}

.penta-input-icon {
    display: flex;
    height: 35px;
    margin-bottom: 10px;
}

.penta-input-icon span {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.penta-input-icon span svg {
    width: 20px;
}

.penta-input-icon input {
    height: 35px;
    flex-grow: 1;
    border: 0;
}

.penta-input-icon input {
    height: 35px;
    flex-grow: 1;
}

.penta-input-icon select {
    height: 35px;
    flex-grow: 1;
}


/* end penta form */


/* start penta toolbar */

.penta-toolbar li {
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
}

.penta-toolbar {
    text-align: center;
}

.penta-toolbar li p {
    position: absolute;
    right: -90px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: none;
    padding: 4px;
    border-radius: 4px;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.penta-toolbar li p::before {
    content: " ";
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    top: 50%;
    left: -5px;
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
    z-index: -1;
}

.penta-toolbar li:hover p {
    display: block;
}

.penta-toolbar li svg {
    width: 20px;
    height: 20px;
}


/* end penta toolbar */


/* start penta input */

.penta-form-item .penta-upload {
    margin-bottom: 0;
}

.penta-form-item label {
    margin-bottom: 0;
}

.penta-upload {
    position: relative;
    flex-grow: 1;
}

.penta-upload input[type="file"] {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    display: block;
    background: #000;
    top: 0;
    bottom: 0;
    width: 100%
}

.penta-upload p {
    padding: 5px 10px;
    font-size: 14px;
}

.pnta-multidate {
    display: flex;
    align-items: center;
}

.pnta-multidate label {
    font-size: 14px;
    width: 90px;
}

.pnta-multidate .penta-drop-select {
    flex-grow: 1;
}

.pnta-multidate .penta-drop-select select {
    margin-bottom: 10px;
}

.penta-textbox {
    margin-bottom: 10px;
}

.penta-textbox input {
    display: block;
    height: 35px;
    width: 100%;
    border: 0;
}

.penta-checkbox {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.penta-checkbox input[type="checkbox"] {
    cursor: pointer;
    zoom: 1.2;
}

.penta-checkbox span {
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
}

.penta-drop-select,
.penta-checkbox {
    margin-bottom: 10px;
}

.penta-drop-select select {
    display: block;
    height: 35px;
    width: 100%;
}


/* end penta input */


/* start  penta button  */

.penta-button {
    display: flex;
    flex-wrap: wrap;
}

.penta-main-button {
    color: #fff;
    border: 0;
    padding: 5px 10px;
    margin: 10px 5px;
    border-radius: 2px;
    box-shadow: 1px 1px 8px 3px #3333332e;
    transition: all .5s;
    font-size: 13px;
}

.penta-button button {
    color: #fff;
    border: 0;
    padding: 5px;
    margin: 10px 5px;
    border-radius: 2px;
    box-shadow: 1px 1px 8px 3px #3333332e;
    transition: all .5s;
    font-size: 14px;
    line-height: normal;
}

.penta-button button span svg {
    width: 20px;
    height: 20px;
}

.penta-button button:hover {
    box-shadow: 1px 1px 5px 2px #33333370;
}

.penta-button .penta-main-button {}

.penta-button .penta-danger-button {
    background: #E91E63 !important;
}

.penta-button .penta-warning-button {
    background: #ff9800 !important;
}

.penta-button .penta-info-button {
    background: #17a2b8 !important;
}

.penta-button-text-img button {
    border: 0;
    padding: 5px;
    background: #333;
    line-height: normal;
}

.penta-button-text-img button svg {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    /* fill: #fff; */
}

.penta-button-text-img button span {
    color: #fff;
}


/* end  penta button  */


/* start penta key  value */

.penta-key-value {}

.penta-key-value .penta-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    /* padding: 5px 0; */
    margin-bottom: 10px;
}

.penta-key-value .penta-item span:nth-child(1) {
    font-weight: bold;
}


/* end penta key  value */


/* start penta decorations */

.penta-line {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.penta-head-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.penta-head-tab button {
    background: transparent;
}


/* start penta decorations */


/* start penta validation */

.penta-validation-danger {
    display: block;
    background: #f33072d1;
    color: #ffffff;
    padding: 5px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.penta-validation-info {
    display: block;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    padding: 5px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.penta-validation-alert {
    display: block;
    color: #856404;
    background-color: #ffda65;
    border-color: #ffeeba;
    padding: 5px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.penta-validation-success {
    display: block;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: 5px;
    text-transform: capitalize;
    margin-bottom: 10px;
}


/* end penta validation */


/* start penta dropdown */

.dropdown-menu {
    padding: 0;
}

.penta-body-dropdown {
    display: flex;
    flex-direction: column;
}

.penta-body-dropdown li {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
    cursor: pointer;
}

.penta-body-dropdown li:last-child {
    border: 0;
}

.penta-body-dropdown li span {
    font-size: 13px;
    margin: 0 5px;
}

.penta-body-dropdown li svg {
    width: 15px;
    height: 15px;
}


/* grid style  */


/* grid style   */

.progress-val h4 {
    padding: 5px !important;
    font-size: 14px !important;
    display: none;
}

.progress-val {
    margin: 0 !important;
    margin-bottom: 10px !important;
    background: transparent !important;
}


.progress-val-body .ReactTable .rt-thead.-header {}

.ReactTable .rt-thead .rt-tr {
    height: 100%;
}




.progress-val-body .arrow {
    height: 12px;
}



.progress-val-body .rt-th>div>div {
    align-items: center;
    height: 100%;
}

.progress-val-body .ReactTable .rt-thead .rt-th {
    padding: 0;
}

.progress-val-body .ReactTable .rt-tbody .rt-tr-group {
    height: 37px;
}

.progress-val-body .progress-val-body .ReactTable .rt-tbody .rt-tr-group {
    height: 40px;
}

.progress-val-body .ReactTable .rt-table {

}

.progress-val-body .progress-val-footer {

    padding: 0 15px 5px 15px;
    flex-direction: row-reverse;
}

.progress-val-body .rt-td {

}

.progress-val-info button {

    background: transparent;
}

.progress-val-info .dropdown button {
    background: transparent;
    padding: 2px 5px;
}



.Table__pagination .progress-val-footer ul li{
    padding: 3px 9px;
}

.progress-val-body ul li .Table__pageButton svg {
 
    transform: rotate(180deg);
}



.progress-val-body .calender {
    background: transparent;
    box-shadow: 0 0 0 0 #000;
}



ul.center-line {
    padding: 5px 10px;
    margin-bottom: 0;
    margin-top: 5px;
}

.pagination-bottom .Table__pagination {
    padding: 0;
}
.all-arrow{
    display: flex;
    flex-direction: column;
}
.ReactTable .penta-button-text-img button{
 
}
.ReactTable ul.center-line{
    padding: 0;
    position: static;
    transform: translate(0);
}

.progress-val-footer .progress-foot{
    flex-grow: 0 !important;
}
.progress-val-footer .progress-foot .progress-val-info{
    margin-top: 0;
}

/* end penta  dropdown */

.penta-width1 {
    width: 1% !important;
}

.penta-width2 {
    width: 2% !important;
}

.penta-width3 {
    width: 3% !important;
}

.penta-width4 {
    width: 4% !important;
}

.penta-width5 {
    width: 5% !important;
}

.penta-width6 {
    width: 6% !important;
}

.penta-width7 {
    width: 7% !important;
}

.penta-width8 {
    width: 8% !important;
}

.penta-width9 {
    width: 9% !important;
}

.penta-width10 {
    width: 10% !important;
}

.penta-width11 {
    width: 11% !important;
}

.penta-width12 {
    width: 12% !important;
}

.penta-width13 {
    width: 13% !important;
}

.penta-width14 {
    width: 14% !important;
}

.penta-width15 {
    width: 15% !important;
}

.penta-width16 {
    width: 16% !important;
}

.penta-width17 {
    width: 17% !important;
}

.penta-width18 {
    width: 18% !important;
}

.penta-width19 {
    width: 19% !important;
}

.penta-width20 {
    width: 20% !important;
}

.penta-width21 {
    width: 21% !important;
}

.penta-width22 {
    width: 22% !important;
}

.penta-width23 {
    width: 23% !important;
}

.penta-width24 {
    width: 24% !important;
}

.penta-width25 {
    width: 25% !important;
}

.penta-width26 {
    width: 26% !important;
}

.penta-width27 {
    width: 27% !important;
}

.penta-width28 {
    width: 28% !important;
}

.penta-width29 {
    width: 29% !important;
}

.penta-width30 {
    width: 30% !important;
}

.penta-width31 {
    width: 31% !important;
}

.penta-width32 {
    width: 32% !important;
}

.penta-width33 {
    width: 33% !important;
}

.penta-width34 {
    width: 34% !important;
}

.penta-width35 {
    width: 35% !important;
}

.penta-width36 {
    width: 36% !important;
}

.penta-width37 {
    width: 37% !important;
}

.penta-width38 {
    width: 38% !important;
}

.penta-width39 {
    width: 39% !important;
}

.penta-width40 {
    width: 40% !important;
}

.penta-width41 {
    width: 41% !important;
}

.penta-width42 {
    width: 42% !important;
}

.penta-width43 {
    width: 43% !important;
}

.penta-width44 {
    width: 44% !important;
}

.penta-width45 {
    width: 45% !important;
}

.penta-width46 {
    width: 46% !important;
}

.penta-width47 {
    width: 47% !important;
}

.penta-width48 {
    width: 48% !important;
}

.penta-width49 {
    width: 49% !important;
}

.penta-width50 {
    width: 50% !important;
}

.penta-width51 {
    width: 51% !important;
}

.penta-width52 {
    width: 52% !important;
}

.penta-width53 {
    width: 53% !important;
}

.penta-width54 {
    width: 54% !important;
}

.penta-width55 {
    width: 55% !important;
}

.penta-width56 {
    width: 56% !important;
}

.penta-width57 {
    width: 57% !important;
}

.penta-width58 {
    width: 58% !important;
}

.penta-width59 {
    width: 59% !important;
}

.penta-width60 {
    width: 60% !important;
}

.penta-width61 {
    width: 61% !important;
}

.penta-width62 {
    width: 62% !important;
}

.penta-width63 {
    width: 63% !important;
}

.penta-width64 {
    width: 64% !important;
}

.penta-width65 {
    width: 65% !important;
}

.penta-width66 {
    width: 66% !important;
}

.penta-width67 {
    width: 67% !important;
}

.penta-width68 {
    width: 68% !important;
}

.penta-width69 {
    width: 69% !important;
}

.penta-width70 {
    width: 70% !important;
}

.penta-width71 {
    width: 71% !important;
}

.penta-width72 {
    width: 72% !important;
}

.penta-width73 {
    width: 73% !important;
}

.penta-width74 {
    width: 74% !important;
}

.penta-width75 {
    width: 75% !important;
}

.penta-width76 {
    width: 76% !important;
}

.penta-width77 {
    width: 77% !important;
}

.penta-width78 {
    width: 78% !important;
}

.penta-width79 {
    width: 79% !important;
}

.penta-width80 {
    width: 80% !important;
}

.penta-width81 {
    width: 81% !important;
}

.penta-width82 {
    width: 82% !important;
}

.penta-width83 {
    width: 83% !important;
}

.penta-width84 {
    width: 84% !important;
}

.penta-width85 {
    width: 85% !important;
}

.penta-width86 {
    width: 86% !important;
}

.penta-width87 {
    width: 87% !important;
}

.penta-width88 {
    width: 88% !important;
}

.penta-width89 {
    width: 89% !important;
}

.penta-width90 {
    width: 90% !important;
}

.penta-width91 {
    width: 91% !important;
}

.penta-width92 {
    width: 92% !important;
}

.penta-width93 {
    width: 93% !important;
}

.penta-width94 {
    width: 94% !important;
}

.penta-width95 {
    width: 95% !important;
}

.penta-width96 {
    width: 96% !important;
}

.penta-width97 {
    width: 97% !important;
}

.penta-width98 {
    width: 98% !important;
}

.penta-width99 {
    width: 99% !important;
}

.penta-width100 {
    width: 100% !important;
}


/*# sourceMappingURL=style.css.map */