:root {
    --start: 0;
    --maiddl: 0%;
    /* --start:0;
--maiddl:67%;  */
    /* --start:266;
--maiddl:67%;  */
    /* 
--start:81;
--maiddl:55%;  */
    --main-bg-color: hsl(var(--start), var(--maiddl), 25%);
    --main-bgh-color: hsl(var(--start), var(--maiddl), 30%);
    --main-bgh-c-color: hsl(var(--start), var(--maiddl), 40%);
    --scroll-bg-color: hsl(var(--start), var(--maiddl), 75%);
    --main-txt-color: hsl(var(--start), var(--maiddl), 100%);
    ;
    --main-color: #16BDF4;
}

.label {
    color: var(--main-txt-color);
}

.pnta-multidate label,
.penta-upload p {
    color: var(--scroll-bg-color);
}

.penta-upload {
    background: var(--main-bgh-color);
}

.penta-box {
    border: 1px solid var(--main-bgh-c-color);
}

.container-center>ul>li span svg {
    fill: var(--scroll-bg-color);
}

.container-center .drop-menu ul li span svg {
    fill: var(--main-txt-color);
}
.pnta-multidate label span,
.penta-form-item label span{
    color: red;
} 
.penta-form-item label,
.penta-key-value .penta-item span:nth-child(1),
.penta-checkbox span,
.penta-form-item input,
.penta-form-item textarea,
.penta-form-item select,
.penta-item span:nth-child(2) {
    color: var(--scroll-bg-color);
}

.penta-button-text-img button svg {
    fill: var(--main-txt-color);
}

.penta-button-text-img button span {
    color: var(--main-txt-color);
}

.penta-secondary {
    background: var(--main-bg-color);
}

.penta-secondary1 {
    background: var(--main-bgh-color);
}

button.penta-secondary1 {
    border-color: var(--main-bgh-color);
    ;
}

.penta-primary {
    background: var(--main-color);
}

.penta-color {
    color: var(--main-txt-color);
}

.penta-text-color {
    color: var(--scroll-bg-color);
}


/* Track */

::-webkit-scrollbar-track {
    background: var(--scroll-bg-color);
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: var( --main-bgh-color);
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

nav {
    background: var(--main-bgh-color);
}

.active-link::after {
    background: var(--main-color);
}

.container-center ul li .drop-menu {
    background: var(--main-bgh-color);
    color: var(--main-txt-color);
}

.penta-body-dropdown li {
    border-color: var(--main-bgh-c-color);
}

.penta-body-dropdown li span {
    color: var(--main-txt-color);
}

.label {
    color: var(--main-txt-color);
}

.user {
    background: var(--main-txt-color);
    color: var(--main-bg-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.penta-textbox input {
    background: var(--main-bgh-color);
    color: var(--scroll-bg-color);
}

.c2,
.c3 .penta-toolbar li,
.value-show li {
    background: var(--main-color);
}

.c1,
.c6,
.c5,
.widget,
.popup-c,
.c7 {
    background: var(--main-bg-color);
}

.c5 .penta-toolbar li {
    background: var(--main-bgh-color);
}

.penta-slider-r {
    background: var( --main-txt-color);
}

.penta-slider-r::-webkit-slider-thumb {
    background: var(--main-color);
}

span {
    color: var(--main-txt-color);
}

.penta-form-item input,
.penta-form-item textarea,
.penta-form-item select {
    /* color: var(--main-txt-color); */
    background: var(--main-bgh-color);
}

.head-c,
.c5 .penta-key-value .penta-item span:nth-child(2),
.widget .penta-key-value .penta-item span:nth-child(2),
.popup-layout .penta-key-value .penta-item span:nth-child(2) {
    background-color: var(--main-bgh-color);
}

.penta-line {
    border-top: 1px solid var(--main-bgh-color);
}

.popup-layout {
    /* background:var(--main-bgh-c-color); */
    background: #ffffff4d;
}

nav .container-center .drop-menu .penta-toolbar li {
    border-color: var(--main-bgh-c-color);
}


/* .popup-c {
background: #3F3F3F;
} */

.contant-load {
    background: #ffffff4d;
}

.head-c span:nth-child(2) {
    background: var(--main-bgh-c-color);
}

.loader {
    color: var(--main-color);
}


/*# sourceMappingURL=style.css.map */

.penta-drop-select select {
    color: var(--scroll-bg-color);
    background: var(--main-bgh-color);
    border-color: var(--main-bgh-color);
}

.penta-button .penta-sub-button {
    background: var(--main-bgh-color);
}

.penta-button button span svg {
    fill: var(--main-txt-color);
}

.penta-sub-button:hover {
    background: var( --main-color);
}

.penta-main-button {
    background: var( --main-color) !important;
}

.penta-active-button {
    background: var(--main-color) !important;
}

.penta-toolbar li p {
    background: var( --main-color);
    color: var(--main-txt-color);
}

.penta-toolbar li p::before {
    background: var( --main-color);
}

.penta-toolbar li svg {
    fill: var(--main-txt-color);
}

.penta-key-value .penta-item {
    border-color: var(--main-bg-color);
}

.penta-input-icon span {
    background: var(--main-bgh-c-color);
}

.penta-input-icon span svg {
    fill: var(--main-txt-color);
}

.penta-input-icon input,
.penta-input-icon select {
    background: var(--main-bgh-color);
    color: var(--main-txt-color);
}

.alert-p .head-c {
    border-right: 3px solid;
}

.alert-p .head-c.info {
    border-color: #16BDF4;
}

.alert-p .head-c.info span:nth-child(2) {
    color: #16BDF4;
}

.alert-p .head-c.danger {
    border-color: #FF3131
}

.alert-p .head-c.danger span:nth-child(2) {
    color: #FF3131;
}

.alert-p .head-c.sacsses {
    border-color: #23AF57;
}

.alert-p .head-c.sacsses span:nth-child(2) {
    color: #23AF57;
}
/* style grid */
.progress-val-body ul li .Table__pageButton--active{
    color: var(--main-color) !important;
}
.progress-val h4 {

    color: var(--main-color) !important;
}



.progress-val-body .ReactTable .rt-thead.-header {
    background-color: var(--main-bgh-color);
}



.progress-val-body .filledFilter {
    fill: var(--main-color);
    ;
}

.progress-val-body .arrowd svg {
    fill: var( --scroll-bg-color);
}


.progress-val-body .arrow svg {
    fill: var( --scroll-bg-color);
}

.progress-val-body .emptyFilter {
    fill: var( --scroll-bg-color);
}

.progress-val-body .rt-th>div>div>span {
    color: var(--scroll-bg-color);
}


.progress-val-body .ReactTable .rt-tbody .rt-tr-group {
    border-bottom: solid 1px var(--main-bgh-c-color);

}



.progress-val-body .ReactTable .rt-table {
    background: var(--main-bg-color);
}

.progress-val-body .progress-val-footer {
    background: var(--main-bg-color);
}

.progress-val-body .rt-td {
    color: var(--main-bgh-c-color);
}

.progress-val-info button {
    border: 1px solid var(--main-txt-color);
    color: var(--main-txt-color);
   
}

.progress-val-info .dropdown button {

    color: var(--scroll-bg-color);

}

.progress-val-info .progress-val-footer ul li .Table__pageButton {
    color: var(--scroll-bg-color);
}



.ReactTable svg {
    fill: var(--scroll-bg-color);
}

.progress-val-body ul li .Table__pageButton {
    color: var(--scroll-bg-color);
 
}

.progress-val-body .filter-list {
    background: var(--main-bgh-color);
    border: 1px solid var(--main-bgh-color);
}

.progress-val-body .filter-list input {
    background: var(--main-bgh-c-color);
}

.progress-val-body .ReactTable .rt-thead.-filters input,
.progress-val-body .ReactTable .rt-thead.-filters select {
    background: var(--main-bgh-c-color);
    color: var(--scroll-bg-color);
}


.progress-val-body .calender label {
    color: var(--scroll-bg-color);
}



.ReactTable .penta-button-text-img button{
    background: var(--main-bg-color);
}
.ReactTable ul.center-line{
    background-color: var(--main-bgh-color);

}
.ReactTable .rt-td span{
    color: var( --scroll-bgh-color);
}
