@font-face {
  font-family: 'Cairo';
  src: url("../../fonts/cairo/Cairo-Bold.woff2") format("woff2"), url("../../fonts/cairo/Cairo-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cairo';
  src: url("../../fonts/cairo/Cairo-SemiBold.woff2") format("woff2"), url("../../fonts/cairo/Cairo-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Cairo';
  src: url("../../fonts/cairo/Cairo-ExtraLight.woff2") format("woff2"), url("../../fonts/cairo/Cairo-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Cairo';
  src: url("../../fonts/cairo/Cairo-Light.woff2") format("woff2"), url("../../fonts/cairo/Cairo-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cairo';
  src: url("../../fonts/cairo/Cairo-Black.woff2") format("woff2"), url("../../fonts/cairo/Cairo-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Cairo';
  src: url("../../fonts/cairo/Cairo-Regular.woff2") format("woff2"), url("../../fonts/cairo/Cairo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

nav {
  background: #3F3F3F;
  padding: 0 30px;
}

.user {
  background: #fff;
  color: #000;
  text-align: center;
}

.c1,
.c2,
.c3 {
  background: #16BDF4;
}

.c4,
.c6 {
  background: #3F3F3F;
}

.c5 {
  background: #292929;
}

.c7 {
  background: #3A3A3A;
}

span {
  color: #fff;
}

.widget {
  background: #3A3A3A;
}

.head-c {
  background: #4E4E4E;
}

.popup-layout {
  background: #353535b5;
}

.popup-c {
  background: #3F3F3F;
}

.head-c span:nth-child(2) {
  border: 1px solid #fff;
}

.contant-load {
  background: #3a3a3a;
}

.loader {
  color: #16BDF4;
}

.penta-tollbar {
  text-align: center;
}

.penta-tollbar li {
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
}

.penta-tollbar li p {
  position: absolute;
  right: -90px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #2196F3;
  color: #fff;
  display: none;
  padding: 4px;
  border-radius: 4px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.penta-tollbar li p::before {
  content: " ";
  width: 10px;
  height: 10px;
  background: #2196F3;
  display: block;
  position: absolute;
  top: 50%;
  left: -5px;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  z-index: -1;
}

.penta-tollbar li:hover p {
  display: block;
}

.penta-tollbar li svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.penta-textbox input {
  display: block;
  height: 32px;
  width: 100%;
  border: 1px solid #ddd;
}

.penta-drop-select select {
  display: block;
  height: 32px;
  width: 100%;
  border: 1px solid #ddd;
}

.penta-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.penta-button button {
  color: #fff;
  border: 0;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 1px 4px #333;
          box-shadow: 1px 1px 1px 4px #333;
  -webkit-box-shadow: 1px 1px 8px 3px #3333332e;
          box-shadow: 1px 1px 8px 3px #3333332e;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.penta-button button:hover {
  -webkit-box-shadow: 1px 1px 5px 2px #33333370;
          box-shadow: 1px 1px 5px 2px #33333370;
}

.penta-button .penta-main-button {
  background: #333;
}

.penta-button .penta-active-button {
  background: #16BDF4 !important;
}

.penta-button .penta-sub-button {
  background: #3F3F3F;
}

.penta-button .penta-danger-button {
  background: #E91E63;
}

.penta-button .penta-warning-button {
  background: #ff9800;
}

.penta-button .penta-info-button {
  background: #17a2b8;
}

.penta-button-text-img button {
  border: 0;
  padding: 4px 8px;
  background: #333;
}

.penta-button-text-img button svg {
  width: 15px;
  height: 15px;
  fill: #fff;
}

.penta-button-text-img button span {
  color: #fff;
}

.penta-key-value {
  padding: 10px;
}

.penta-key-value .penta-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #33333329;
  padding: 5px 10px;
  margin-bottom: 5px;
}

.penta-key-value .penta-item:nth-child(1) {
  font-weight: bold;
}

.penta-line {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.penta-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.penta-validation-danger {
  display: block;
  background: #f33072d1;
  color: #ffffff;
  padding: 5px;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.penta-validation-info {
  display: block;
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
  padding: 5px;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.penta-validation-alert {
  display: block;
  color: #856404;
  background-color: #ffda65;
  border-color: #ffeeba;
  padding: 5px;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.penta-validation-success {
  display: block;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  padding: 5px;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.penta-box {
  border: 1px solid #777;
}

.penta-input-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
}

.penta-input-icon span {
  width: 35px;
  height: 32px;
  background: #607D8B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.penta-input-icon span svg {
  width: 20px;
  fill: #fff;
}

.penta-input-icon input {
  height: 32px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.penta-width1 {
  width: 1% !important;
}

.penta-width2 {
  width: 2% !important;
}

.penta-width3 {
  width: 3% !important;
}

.penta-width4 {
  width: 4% !important;
}

.penta-width5 {
  width: 5% !important;
}

.penta-width6 {
  width: 6% !important;
}

.penta-width7 {
  width: 7% !important;
}

.penta-width8 {
  width: 8% !important;
}

.penta-width9 {
  width: 9% !important;
}

.penta-width10 {
  width: 10% !important;
}

.penta-width11 {
  width: 11% !important;
}

.penta-width12 {
  width: 12% !important;
}

.penta-width13 {
  width: 13% !important;
}

.penta-width14 {
  width: 14% !important;
}

.penta-width15 {
  width: 15% !important;
}

.penta-width16 {
  width: 16% !important;
}

.penta-width17 {
  width: 17% !important;
}

.penta-width18 {
  width: 18% !important;
}

.penta-width19 {
  width: 19% !important;
}

.penta-width20 {
  width: 20% !important;
}

.penta-width21 {
  width: 21% !important;
}

.penta-width22 {
  width: 22% !important;
}

.penta-width23 {
  width: 23% !important;
}

.penta-width24 {
  width: 24% !important;
}

.penta-width25 {
  width: 25% !important;
}

.penta-width26 {
  width: 26% !important;
}

.penta-width27 {
  width: 27% !important;
}

.penta-width28 {
  width: 28% !important;
}

.penta-width29 {
  width: 29% !important;
}

.penta-width30 {
  width: 30% !important;
}

.penta-width31 {
  width: 31% !important;
}

.penta-width32 {
  width: 32% !important;
}

.penta-width33 {
  width: 33% !important;
}

.penta-width34 {
  width: 34% !important;
}

.penta-width35 {
  width: 35% !important;
}

.penta-width36 {
  width: 36% !important;
}

.penta-width37 {
  width: 37% !important;
}

.penta-width38 {
  width: 38% !important;
}

.penta-width39 {
  width: 39% !important;
}

.penta-width40 {
  width: 40% !important;
}

.penta-width41 {
  width: 41% !important;
}

.penta-width42 {
  width: 42% !important;
}

.penta-width43 {
  width: 43% !important;
}

.penta-width44 {
  width: 44% !important;
}

.penta-width45 {
  width: 45% !important;
}

.penta-width46 {
  width: 46% !important;
}

.penta-width47 {
  width: 47% !important;
}

.penta-width48 {
  width: 48% !important;
}

.penta-width49 {
  width: 49% !important;
}

.penta-width50 {
  width: 50% !important;
}

.penta-width51 {
  width: 51% !important;
}

.penta-width52 {
  width: 52% !important;
}

.penta-width53 {
  width: 53% !important;
}

.penta-width54 {
  width: 54% !important;
}

.penta-width55 {
  width: 55% !important;
}

.penta-width56 {
  width: 56% !important;
}

.penta-width57 {
  width: 57% !important;
}

.penta-width58 {
  width: 58% !important;
}

.penta-width59 {
  width: 59% !important;
}

.penta-width60 {
  width: 60% !important;
}

.penta-width61 {
  width: 61% !important;
}

.penta-width62 {
  width: 62% !important;
}

.penta-width63 {
  width: 63% !important;
}

.penta-width64 {
  width: 64% !important;
}

.penta-width65 {
  width: 65% !important;
}

.penta-width66 {
  width: 66% !important;
}

.penta-width67 {
  width: 67% !important;
}

.penta-width68 {
  width: 68% !important;
}

.penta-width69 {
  width: 69% !important;
}

.penta-width70 {
  width: 70% !important;
}

.penta-width71 {
  width: 71% !important;
}

.penta-width72 {
  width: 72% !important;
}

.penta-width73 {
  width: 73% !important;
}

.penta-width74 {
  width: 74% !important;
}

.penta-width75 {
  width: 75% !important;
}

.penta-width76 {
  width: 76% !important;
}

.penta-width77 {
  width: 77% !important;
}

.penta-width78 {
  width: 78% !important;
}

.penta-width79 {
  width: 79% !important;
}

.penta-width80 {
  width: 80% !important;
}

.penta-width81 {
  width: 81% !important;
}

.penta-width82 {
  width: 82% !important;
}

.penta-width83 {
  width: 83% !important;
}

.penta-width84 {
  width: 84% !important;
}

.penta-width85 {
  width: 85% !important;
}

.penta-width86 {
  width: 86% !important;
}

.penta-width87 {
  width: 87% !important;
}

.penta-width88 {
  width: 88% !important;
}

.penta-width89 {
  width: 89% !important;
}

.penta-width90 {
  width: 90% !important;
}

.penta-width91 {
  width: 91% !important;
}

.penta-width92 {
  width: 92% !important;
}

.penta-width93 {
  width: 93% !important;
}

.penta-width94 {
  width: 94% !important;
}

.penta-width95 {
  width: 95% !important;
}

.penta-width96 {
  width: 96% !important;
}

.penta-width97 {
  width: 97% !important;
}

.penta-width98 {
  width: 98% !important;
}

.penta-width99 {
  width: 99% !important;
}

.penta-width100 {
  width: 100% !important;
}

body {
  direction: ltr;
  text-align: left;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
}

p {
  margin: 0;
}

ul {
  list-style: none;
}

ol,
ul,
h1,
h2,
h3,
h5,
h4,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

.container {
  max-width: 1560px;
  width: 86%;
}

body {
  width: 100%;
  height: 100vh;
}

nav {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-lang ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-lang ul li {
  margin-right: 15px;
}

.container-center ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-center ul li {
  margin: 0 10px;
  cursor: pointer;
}

.container-center ul li span svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.user {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
}

.c2 {
  position: absolute;
  top: 100px;
  left: 15px;
  width: 40px;
  min-height: 30%;
  padding: 5px;
}

.c3 {
  position: absolute;
  bottom: 0;
  left: 30px;
  min-width: 450px;
  height: 40px;
}

.head-c {
  height: 35px;
  background: #ffffff3b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 5px 10px;
}

.head-c span:nth-child(2) {
  width: 20px;
  height: 20px;
  font-size: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.c5 {
  -webkit-transition: all .1s;
  transition: all .1s;
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 440px;
  height: calc(100vh - 100px);
  z-index: 4;
}

.c4 {
  position: absolute;
  top: 51px;
  left: 50%;
  width: 250px;
  min-height: 220px;
}

.c6 {
  position: absolute;
  top: 51px;
  left: 30%;
  width: 250px;
  min-height: 220px;
}

.c7 {
  position: absolute;
  bottom: 25px;
  right: 30px;
  min-width: 150px;
  min-height: 60px;
  z-index: 4;
}

.widget {
  width: 340px;
  height: 300px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.popup-layout {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.popup-c {
  width: 400px;
  height: 300px;
  border-radius: 5px;
}

.popup-c .head-c {
  border-radius: 5px 5px 0 0;
}

.contant-load {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.loader {
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    -webkit-box-shadow: 0 2.5em 0 -1.3em;
            box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    -webkit-box-shadow: 0 2.5em 0 0;
            box-shadow: 0 2.5em 0 0;
  }
}

@keyframes load7 {
  0%,
  80%,
  100% {
    -webkit-box-shadow: 0 2.5em 0 -1.3em;
            box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    -webkit-box-shadow: 0 2.5em 0 0;
            box-shadow: 0 2.5em 0 0;
  }
}
/*# sourceMappingURL=style.css.map */