$font-main: 'Cairo',
sans-serif;
body {
    direction: ltr;
    text-align: left;
}

* {
    margin: 0;
    padding: 0;
    font-family: $font-main;
}

p {
    margin: 0;
}

ul {
    list-style: none;
}

ol,
ul,
h1,
h2,
h3,
h5,
h4,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

.container {
    max-width: 1560px;
    width: 86%;
}

body {
    width: 100%;
    height: 100vh;
}

nav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-lang {
    ul {
        display: flex;
        align-items: center;
        li {
            margin-right: 15px;
        }
    }
}

.container-center {
    ul {
        display: flex;
        align-items: center;
        li {
            margin: 0 10px;
            cursor: pointer;
            span {
                svg {
                    width: 20px;
                    height: 20px;
                    fill: #fff;
                }
            }
        }
    }
}

.user {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
}

.c2 {
    position: absolute;
    top: 100px;
    left: 15px;
    width: 40px;
    min-height: 30%;
    padding: 5px;
}

.c3 {
    position: absolute;
    bottom: 0;
    left: 30px;
    min-width: 450px;
    height: 40px;
}

.head-c {
    height: 35px;
    background: #ffffff3b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 5px 10px;
    & span:nth-child(2) {
        width: 20px;
        height: 20px;
        font-size: .8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

.c5 {
    transition: all .1s;
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 440px;
    height: calc(100vh - 100px);
    z-index: 4;
}

.c4 {
    position: absolute;
    top: 51px;
    left: 50%;
    width: 250px;
    min-height: 220px;
}

.c6 {
    position: absolute;
    top: 51px;
    left: 30%;
    width: 250px;
    min-height: 220px;
}

.c7 {
    position: absolute;
    bottom: 25px;
    right: 30px;
    min-width: 150px;
    min-height: 60px;
    z-index: 4;
}

.widget {
    width: 340px;
    height: 300px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-layout {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.popup-c {
    width: 400px;
    height: 300px;
    border-radius: 5px;
}

.popup-c .head-c {
    border-radius: 5px 5px 0 0;
}

.contant-load {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}