
.penta-tollbar{
  text-align: center;
  li{
    margin-bottom: 10px;
    cursor: pointer;
      position: relative;
      p{
        position: absolute;
        right: -90px;
        top: 50%;
        transform: translateY(-50%);
        background: #2196F3;
        color: #fff;
        display: none;
        padding: 4px;
        border-radius: 4px;
        transition: all 1s;
        &::before{
          content: " ";
          width: 10px;
          height: 10px;
          background: #2196F3;
          display: block;
          position: absolute;
          top: 50%;
          left: -5px;
          transform: translateY(-50%) rotate(45deg);
          z-index: -1;
          
        }
      }
      &:hover{
        p{
          display: block;
        }
      }
    
        svg{
          width: 20px;
          height: 20px;
          fill:#fff;
          
        }
  }
} 
.penta-textbox{
  input{
    display: block;
    height: 32px;
    width: 100%;
    border: 1px solid #ddd;

  }
}
.penta-drop-select{
  select{
    display: block;
    height: 32px;
    width: 100%;
    border: 1px solid #ddd;
  }
}
.penta-button{
  display: flex;
  button{
    color: #fff;
    border: 0;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 4px #333;
    box-shadow: 1px 1px 8px 3px #3333332e;
    transition: all .5s;
    &:hover{
      box-shadow: 1px 1px 5px 2px #33333370;

    }
  }
  .penta-main-button{
    background: #333;
  }
  .penta-active-button{
    background: #16BDF4 !important;
  }
  .penta-sub-button{
    background: #3F3F3F;
  }
  .penta-danger-button{
    background: #E91E63;
  }
  .penta-warning-button{
    background: #ff9800;
  }
  .penta-info-button{
    background: #17a2b8;
  }

}
.penta-button-text-img{
  button{
    border: 0;
    padding: 4px 8px;
    background: #333;
    svg{
      width: 15px;
      height: 15px;
      fill: #fff;
    }
    span{
      color: #fff;
    }
  }
}
.penta-key-value{
  padding: 10px;
  .penta-item{
    display: flex;
    justify-content: space-between;
    border:1px solid #33333329;
    padding: 5px 10px;
    margin-bottom: 5px;
    &:nth-child(1){
      font-weight: bold;
    }
  }
}
.penta-line{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
.penta-row{
  display: flex;
}
.penta-validation-danger{
  display: block;
  background: #f33072d1;
  color: #ffffff;
  padding: 5px;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.penta-validation-info{
  display: block;
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
  padding: 5px;
  text-transform: capitalize;
  margin-bottom: 5px;

}
.penta-validation-alert{
  display: block;
  color: #856404;
  background-color: #ffda65;
  border-color: #ffeeba;
  padding: 5px;
  text-transform: capitalize;
  margin-bottom: 5px;

}
.penta-validation-success{
  display: block;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  padding: 5px;
  text-transform: capitalize;
  margin-bottom: 5px;

}
.penta-box{
  border: 1px solid #777;
}
.penta-input-icon{
  display: flex;
  height: 32px;
  span{
    width: 35px;
    height: 32px;
    background: #607D8B;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
      width: 20px;
      fill: #fff;
    }
  }
  input{
    height: 32px;
    flex-grow: 1;
  }
}

@for $i from 1 through 100 {
  .penta-width#{$i} {
    width: ($i) * 1% !important;
  }
}
