nav{
    background: #3F3F3F;
    padding: 0 30px;
}
.user{
    background: #fff;
    color:#000;
    text-align: center;
}
.c1,
.c2,
.c3{
    background: #16BDF4;
}
.c4,
.c6{
    background: #3F3F3F;
}
.c5{
    background: #292929;
}
.c7{
    background: #3A3A3A;
}
span{
    color: #fff;
  }
  .widget{
      background: #3A3A3A;
  }
.head-c{
    background: #4E4E4E;
}
.popup-layout{
    background: #353535b5;
}
.popup-c{
    background: #3F3F3F;
}
.head-c span:nth-child(2) {
    border: 1px solid #fff;
}
.contant-load{
    background: #3a3a3a;
}
.loader {
    color: #16BDF4;}